<%- include('inc/_header') -%>
<%- include('inc/_nav') -%>
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">PDOA Onboard</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0 align-items-center">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Services</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">PDOAs</a></li>
                                <li class="breadcrumb-item active">PDOA Onboard</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">PDOA Onboarding Form</h4>
                        </div><!-- end card header -->
                        <div class="card-body">
                            <form action="#">
                                <ul class="wizard-nav mb-5">
                                    <li class="wizard-list-item">
                                        <div class="list-item active">
                                            <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="" data-bs-original-title="Seller Details">
                                                <i class="bx bx-user-circle"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="wizard-list-item">
                                        <div class="list-item">
                                            <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="" data-bs-original-title="Company Document">
                                                <i class="bx bx-file"></i>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="wizard-list-item">
                                        <div class="list-item">
                                            <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="" data-bs-original-title="Bank Details">
                                                <i class="bx bx-edit"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- wizard-nav -->

                                <div class="wizard-tab" style="display: block;">
                                    <div class="text-center mb-4">
                                        <h5>PDOA Details</h5>
                                        <p class="card-title-desc">Fill all information below</p>
                                    </div>
                                    <div>
                                        <form id="pdoa-submit">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-name-input" class="form-label">PDOA
                                                            Name</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter PDOA Name" id="basicpill-name-input"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">PDOA
                                                            Email</label>
                                                        <input type="email" class="form-control"
                                                            placeholder="Enter PDOA Email"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">PDOA
                                                            License No</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter License No"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">PDOA
                                                            Code</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter PDOA Code" id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">Authorised
                                                            Person</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Authorised Person"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">Mobile
                                                            Number</label>
                                                        <input type="number" class="form-control"
                                                            placeholder="Enter Mobile Number"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">Phone
                                                            Number</label>
                                                        <input type="number" class="form-control"
                                                            placeholder="Enter Phone Number"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">Website
                                                            Address</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Website Address"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">Registered
                                                            Address</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Registered Address"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">Country</label>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option value="India" selected>India</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">State</label>
                                                        <input type="text" class="form-control" placeholder="State"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">District</label>
                                                        <input type="text" class="form-control" placeholder="District"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">City</label>
                                                        <input type="text" class="form-control" placeholder="City"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">Subdivision</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Subdivision" id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">Block</label>
                                                        <input type="text" class="form-control" placeholder="Block"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">Post
                                                            Office</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Post Office" id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">Police
                                                            Station</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Police Station" id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">PIN
                                                            Code</label>
                                                        <input type="number" class="form-control" placeholder="PIN Code"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">Latitude</label>
                                                        <input type="number" class="form-control" placeholder="Latitude"
                                                            id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input"
                                                            class="form-label">Longitude</label>
                                                        <input type="number" class="form-control"
                                                            placeholder="Longitude" id="basicpill-lastname-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input" class="form-label">PDOA
                                                            Logo</label>
                                                        <input type="file" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>

                                </div>
                                <!-- wizard-tab -->

                                <div class="wizard-tab">
                                    <div>
                                        <div class="text-center mb-4">
                                            <h5>Company Document</h5>
                                            <p class="card-title-desc">Fill all information below</p>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-pancard-input" class="form-label">PAN
                                                            Card</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Pan Card" id="basicpill-pancard-input">
                                                    </div>
                                                </div><!-- end col -->

                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-vatno-input" class="form-label">VAT/TIN
                                                            No.</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter VAT/TIN No." id="basicpill-vatno-input">
                                                    </div>
                                                </div><!-- end col -->
                                            </div><!-- end row -->
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-cstno-input" class="form-label">CST
                                                            No.</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter CST No." id="basicpill-cstno-input">
                                                    </div>
                                                </div><!-- end col -->

                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-servicetax-input"
                                                            class="form-label">Service Tax No.</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Service Tax No."
                                                            id="basicpill-servicetax-input">
                                                    </div>
                                                </div><!-- end col -->
                                            </div><!-- end row -->
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-companyuin-input"
                                                            class="form-label">Company UIN</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Company UIN"
                                                            id="basicpill-companyuin-input">
                                                    </div>
                                                </div><!-- end col -->

                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-declaration-input"
                                                            class="form-label">Declaration</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Declaration"
                                                            id="basicpill-declaration-input">
                                                    </div>
                                                </div><!-- end col -->
                                            </div><!-- end row-->
                                        </div><!-- end form -->
                                    </div>
                                </div>
                                <!-- wizard-tab -->

                                <div class="wizard-tab">
                                    <div>
                                        <div class="text-center mb-4">
                                            <h5>Bank Details</h5>
                                            <p class="card-title-desc">Fill all information below</p>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-namecard-input" class="form-label">Name On
                                                            Card</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Name On Card"
                                                            id="basicpill-namecard-input">
                                                    </div>
                                                </div><!-- end col -->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Credit Card Type</label>
                                                        <select class="form-select">
                                                            <option selected="">Select Card Type</option>
                                                            <option value="AE">American Express</option>
                                                            <option value="VI">Visa</option>
                                                            <option value="MC">MasterCard</option>
                                                            <option value="DI">Discover</option>
                                                        </select>
                                                    </div>
                                                </div><!-- end col -->
                                            </div><!-- end row -->
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-cardno-input" class="form-label">Credit
                                                            Card Number</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Credit Card Number"
                                                            id="basicpill-cardno-input">
                                                    </div>
                                                </div><!-- end col -->

                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-card-verification-input"
                                                            class="form-label">Card Verification Number</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Card Verification Number"
                                                            id="basicpill-card-verification-input">
                                                    </div>
                                                </div><!-- end col -->
                                            </div><!-- end row -->
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-expiration-input"
                                                            class="form-label">Expiration Date</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Expiration Date"
                                                            id="basicpill-expiration-input">
                                                    </div>
                                                </div>
                                            </div><!-- end row -->
                                        </div><!-- end form -->

                                    </div>
                                </div>
                                <!-- wizard-tab -->

                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="button" class="btn btn-primary w-sm" id="prevBtn"
                                        onclick="nextPrev(-1)" style="display: none;">Previous</button>
                                    <button type="button" class="btn btn-primary w-sm ms-auto" id="nextBtn"
                                        onclick="nextPrev(1)">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script>2022 © Symox.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://Themesbrand.com/"
                            target="_blank" class="text-reset">Themesbrand</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    let pdoaSubmit = document.getElementById('pdoa-submit');
    pdoaSubmit.onsubmit = (e) =>{
        e.preventDefault();
        alert('ok')
    }
</script>

<%- include('inc/_footer') -%>